<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Formulaire</title>
    <link rel="stylesheet" href="/style">
  </head>
  <body>
    <div class="titre">
    <h1>Formulaire</h1>
    </div>
    <form classname="test" method="post">
      <div>
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" required>
      </div>
      <div>
        <label for="date_naissance">Date de naissance :</label>
        <input type="date" id="date_naissance" name="date_naissance" required>
    </div>
    <section class="divBTN" >
    <div >
        <button type="submit">Ajouter</button>
        <button><a href="/students" class="button">students</a></button>
      </div>
      
    </section>
    </form>
  </body>
</html>